/* Table */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table.center {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#auto { counter-reset: rowNumber; }
  
#auto tr > td:first-child { counter-increment: rowNumber; }
  
#auto tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

/* Popup Modal */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    padding-bottom: 30px;
}