/*TABS COMPLETED*/
.tabCompleted {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin: 30px 300px 30px 300px;
}

.tabCompleted .completedJobInfoTab {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  margin-left: 0px;
}

.tabCompleted .tabHeadingComplete {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 1.4rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background-color: #fff;
  font-weight: bold;
  font-size: 15px;
  transition: background ease 0.3s;
}

.tabCompleted .tabC {
  order: 9;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: none;
  padding: 1rem;
  background: #fff;
  padding: 20px;
}
/*TABS INCOMPLETE*/
.tabIncomplete {
  display: flex;
  flex-wrap: wrap;
  max-width: 729px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin: 30px 300px 30px 300px;
}

.tabIncomplete .IncompleteJobInfoTab {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  margin-left: 0px;
}

.tabIncomplete .tabHeadingIncomplete {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 1.2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background-color: #fff;
  font-weight: bold;
  font-size: 14px;
  transition: background ease 0.3s;
}

.tabIncomplete .tab {
  order: 9;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: none;
  padding: 1rem;
  background: #fff;
  padding: 12px;
}

/*TABS PENDING*/
.tabPending {
  display: flex;
  flex-wrap: wrap;
  max-width: 729px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin: 30px 300px 30px 300px;
}

.tabPending .PendingJobInfoTab {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  margin-left: 0px;
}

.tabPending .tabHeadingPending {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 1.2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background-color: #fff;
  font-weight: bold;
  font-size: 14px;
  transition: background ease 0.3s;
}

.tabPending .tab {
  order: 9;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: none;
  padding: 1rem;
  background: #fff;
  padding: 12px;
}
/*TABS STAFF*/
.tabStaff {
  display: flex;
  flex-wrap: wrap;
  max-width: 729px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin: 30px 300px 30px 300px;
}

.tabStaff .StaffJobInfoTab {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  margin-left: 0px;
}

.tabStaff .tabHeadingStaff {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 1.7rem;
  margin-right: -1.0rem;
  cursor: pointer;
  background-color: #fff;
  font-weight: bold;
  font-size: 14px;
  transition: background ease 0.3s;
}

.tabStaff .tab {
  order: 9;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: none;
  padding: 1rem;
  background: #fff;
  padding: 12px;
}

.input-box-address {
  margin-bottom: 15px;
  padding: 0 15px 0 15px;
}
.input-box-address {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.input-box-address input,
.input-box-address select {
  height: 45px;
  width: calc(100% / 2 - 5px);
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.input-box-address input:focus,
.input-box-address input:valid,
.input-box-address select:focus,
.input-box-address select:valid {
  border-color: #081d45;
  margin-bottom: 4px;
  width: calc(100% / 2 - 5px);
  padding: 0 15px 0 15px;
}

/*COMPLETED*/

.completedJobInfoTab {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin: 30px 300px 30px 300px;
}
.completedJobInfoTab .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.completedJobInfoTab .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 90px;
  border-radius: 5px;
  background: linear-gradient(135deg, #ffb300, #ff4da6, #924adb);
}
.contentCompletedJobInfo form .completed-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 20px 2px 20px;
}
form .completed-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
  padding: 0 15px 0 15px;
}
form .input-box label.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.completed-details .input-box input,
.completed-details .input-box select {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.completed-details .input-box input:focus,
.completed-details .input-box input:valid,
.completed-details .input-box select:focus,
.completed-details .input-box select:valid {
  border-color: #081d45;
}

form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .button {
  height: 45px;
  margin: 35px 0;
  margin-bottom: 50px;
}
form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #081d45;
  margin-bottom: 10px;
}
form .button input:hover {
  /* transform: scale(0.99); */
  opacity: 0.8;
}
form .button #cancelbtn {
  background-color: #f44336;
}
@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .completed-details .input-box {
    margin-bottom: 15px;

    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .completed-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .completed-details::-webkit-scrollbar {
    width: 5px;
  }
}
@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}

input[type="text"],
input[type="date"],
input[type="datetime-local"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.tabCompleted input[type="radio"] {
  display: none;
}

.tabCompleted input[type="radio"]:checked + label {
  background: rgba(209, 209, 209, 0.377);
}

.tabCompleted input[type="radio"]:checked + label + .tabC {
  display: block;
}

@media (max-width: 465px) {
  .tabCompleted .tabC,
  .tabCompleted label {
    order: initial;
  }

  .tabCompleted label {
    width: 100%;
    margin-left: 50px;
  }
}

/*STORE*/

.StoreJobInfoTab {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin: 30px 300px 30px 300px;
}
.StoreJobInfoTab .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.StoreJobInfoTab .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 90px;
  border-radius: 5px;
  background: linear-gradient(135deg, #ffb300, #ff4da6, #924adb);
}
.contentStoreJobInfo form .store-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 20px 2px 20px;
}
form .store-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
  padding: 0 15px 0 15px;
}

.store-details .input-box input,
.store-details .input-box select {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.store-details .input-box input:focus,
.store-details .input-box input:valid,
.store-details .input-box select:focus,
.store-details .input-box select:valid {
  border-color: #081d45;
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .store-details .input-box {
    margin-bottom: 15px;

    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .store-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .store-details::-webkit-scrollbar {
    width: 5px;
  }
}

/*TABS STORE*/
.tabStore {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin: 30px 300px 30px 300px;
}

.tabStore .StoreJobInfoTab {
  /* max-width: 700px;
  width: 100%; */
  background-color: #fff;
  border-radius: 0px;
  margin-left: 0px;
}

.tabStore .tabHeadingStore {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 1.4rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background-color: #fff;
  font-weight: bold;
  transition: background ease 0.3s;
}

.tabStore .tab {
  order: 9;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: none;
  padding: 1rem;
  background: #fff;
  padding: 20px;
}

.tabStore input[type="radio"] {
  display: none;
}

.tabStore input[type="radio"]:checked + label {
  background: rgba(209, 209, 209, 0.377);
}

.tabStore input[type="radio"]:checked + label + .tab {
  display: block;
}

@media (max-width: 465px) {
  .tabStore .tab,
  .tabStore label {
    order: initial;
  }

  .tabStore label {
    width: 100%;
    margin-left: 50px;
  }
}


.Staff,
#Staff {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #f7f7f7ab;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 0px 0px 4px;
  border-radius: 12px;
  padding: 0.7rem 2rem;
  font-size: 14px;
  margin: 10px 10px;
  cursor: pointer;
  text-align: left;
}

.StaffJobInfoTab {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin: 30px 300px 30px 300px;
}
.StaffJobInfoTab .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.StaffJobInfoTab .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 90px;
  border-radius: 5px;
  background: linear-gradient(135deg, #ffb300, #ff4da6, #924adb);
}
.contentStaffJobInfo form .Staff-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 20px 2px 20px;
}
form .Staff-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
  padding: 0 15px 0 15px;
}

.Staff-details .input-box input,
.Staff-details .input-box select {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.Staff-details .input-box input:focus,
.Staff-details .input-box input:valid,
.Staff-details .input-box select:focus,
.Staff-details .input-box select:valid {
  border-color: #081d45;
}

.contentStaffJobInfo form .Staff-assign {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 20px 2px 20px;
}
form .Staff-assign .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
  padding: 0 15px 0 15px;
}

.Staff-assign .input-box input,
.Staff-assign .input-box select {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.Staff-assign .input-box input:focus,
.Staff-assign .input-box input:valid,
.Staff-assign .input-box select:focus,
.Staff-assign .input-box select:valid {
  border-color: #081d45;
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .Staff-details .input-box {
    margin-bottom: 15px;

    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .Staff-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .Staff-details::-webkit-scrollbar {
    width: 5px;
  }
}

.tabStaff input[type="radio"] {
  display: none;
}

.tabStaff input[type="radio"]:checked + label {
  background: rgba(209, 209, 209, 0.377);
}

.tabStaff input[type="radio"]:checked + label + .tab {
  display: block;
}

@media (max-width: 465px) {
  .tabStaff .tab,
  .tabStaff label {
    order: initial;
  }

  .tabStaff label {
    width: 100%;
    margin-left: 50px;
  }
}
/*PENDING*/

.PendingJobInfoTab {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin: 30px 300px 30px 300px;
}
.PendingJobInfoTab .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.PendingJobInfoTab .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 90px;
  border-radius: 5px;
  background: linear-gradient(135deg, #ffb300, #ff4da6, #924adb);
}
.contentPendingJobInfo form .pending-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 20px 2px 20px;
}
form .pending-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
  padding: 0 15px 0 15px;
}
form .pending-details label.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.pending-details .input-box input,
.pending-details .input-box select {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.pending-details .input-box input:focus,
.pending-details .input-box input:valid,
.pending-details .input-box select:focus,
.pending-details .input-box select:valid {
  border-color: #081d45;
}

.contentPendingJobInfo form .pending-assign {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 20px 2px 20px;
}
form .pending-assign .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
  padding: 0 15px 0 15px;
}
form .pending-assign label.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.pending-assign .input-box input,
.pending-assign .input-box select {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.pending-assign .input-box input:focus,
.pending-assign .input-box input:valid,
.pending-assign .input-box select:focus,
.pending-assign .input-box select:valid {
  border-color: #081d45;
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .pending-details .input-box {
    margin-bottom: 15px;

    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .pending-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .pending-details::-webkit-scrollbar {
    width: 5px;
  }
}

.tabPending input[type="radio"] {
  display: none;
}

.tabPending input[type="radio"]:checked + label {
  background: rgba(209, 209, 209, 0.377);
}

.tabPending input[type="radio"]:checked + label + .tab {
  display: block;
}

@media (max-width: 465px) {
  .tabPending .tab,
  .tabPending label {
    order: initial;
  }

  .tabPending label {
    width: 100%;
    margin-left: 50px;
  }
}

/*INCOMPLETE*/

.IncompleteJobInfoTab {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin: 30px 300px 30px 300px;
}
.IncompleteJobInfoTab .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.IncompleteJobInfoTab .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 90px;
  border-radius: 5px;
  background: linear-gradient(135deg, #ffb300, #ff4da6, #924adb);
}
.contentIncompleteJobInfo form .incomplete-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 20px 2px 20px;
}
form .incomplete-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
  padding: 0 15px 0 15px;
}
form .incomplete-details label.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.incomplete-details .input-box input,
.incomplete-details .input-box select {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.incomplete-details .input-box input:focus,
.incomplete-details .input-box input:valid,
.incomplete-details .input-box select:focus,
.incomplete-details .input-box select:valid {
  border-color: #081d45;
}

.contentIncompleteJobInfo form .incomplete-assign {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 20px 2px 20px;
}
form .incomplete-assign .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
  padding: 0 15px 0 15px;
}
form .incomplete-assign label.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.incomplete-assign .input-box input,
.incomplete-assign .input-box select {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.incomplete-assign .input-box input:focus,
.incomplete-assign .input-box input:valid,
.incomplete-assign .input-box select:focus,
.incomplete-assign .input-box select:valid {
  border-color: #081d45;
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .incomplete-details .input-box {
    margin-bottom: 15px;

    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .incomplete-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .incomplete-details::-webkit-scrollbar {
    width: 5px;
  }
}

.tabIncomplete input[type="radio"] {
  display: none;
}

.tabIncomplete input[type="radio"]:checked + label {
  background: rgba(209, 209, 209, 0.377);
}

.tabIncomplete input[type="radio"]:checked + label + .tab {
  display: block;
}

@media (max-width: 465px) {
  .tabIncomplete .tab,
  .tabIncomplete label {
    order: initial;
  }

  .tabIncomplete label {
    width: 100%;
    margin-left: 50px;
  }
}
