#notYetStatus {
    position: static;
}

body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #ffffff;
    background-repeat: no-repeat;
}

.container {
    padding: 1%;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 30px;
    margin-bottom: 20px;
    flex-direction: column;
}

.timestamp {
    border-radius: 6px;
    font-size: 15px;
    padding: 2px 5px 2px 5px;
    width: max-content;
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 2px;
}

.card-complete {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1pxsolidrgba (0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

/* -------Top Button------- */
.nav1-links {
    text-decoration: none;
    color: #000;
}

.navbar1 {
    padding: 20px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

a:hover {
    text-decoration: none;
    color:#444444;
}

/* -------Bottom Navigation------- */
.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    z-index: 100;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav__text {
    font-size: small;
    font-weight: bold;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    white-space: nowrap;
    font-family: sans-serif;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
    background-color: #eeeeee;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: auto;
    bottom: 55px;
    padding-left: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* -------PopUp Modal------- */
fieldset {
    display: none;
}

fieldset.show {
    display: block;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

.tabs {
    margin: 2px 2px 4px 4px;
    padding-bottom: 10px;
    cursor: pointer;
}

.tabs:hover,
.tabs.active {
    border-bottom: 1px solid #2196f3;
}

.line {
    background-color: #ff0000;
    height: 1px;
    width: 100%;
}

@media screen and (max-width: 1920px) {
    .tabs h6 {
        font-size: 12px;
    }
}

.modal .close {
    right: 20px;
    top: -110px;
    width: 20px;
    height: 0px;
    cursor: pointer;
}

/* -------Heading------- */
.seven h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    color: #222;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.seven h1:after,
.seven h1:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #081d45;
    border-top: 1px solid #081d45;
    height: 5px;
    background-color: #f8f8f8;
}

/* -------Welcome Heading------- */
.twelve h1 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #222;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
    margin-bottom: 15px;
    margin-top: -25px;
}

.twelve h1:after,
.twelve h1:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #081d45;
    border-top: 1px solid #081d45;
    height: 5px;
    background-color: #f8f8f8;
}

/* -------Technician update heading------- */
.three h1 {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #222;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
    margin-bottom: 10px;
}

.three h1:after,
.three h1:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #081d45;
    border-top: 1px solid #081d45;
    height: 5px;
}

/* -------Technician Update Table------- */
h1 {
    text-align: center;
    margin-bottom: 40px;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    z-index: auto;
}

tr:nth-of-type(odd) {
    background: #f2f2f2;
}

th {
    background: #f2f2f2;
    color: black;
    font-weight: 600;
}

td,
th {
    padding: 4px;
    border: 1px solid #ccc;
    text-align: left;
    text-align: center;
}

@media only screen and (max-width: 760px) {
    td, tr {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #f2f2f2;
        margin-bottom: 10px;
    }

    tr + tr {
        margin-top: 1.5em;
    }

    td {
        /* make like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        background-color: #f2f2f2;
        text-align: left;
        z-index: auto;
        display: block;
        border: 1px solid black;
        border-collapse: separate;
        border-spacing: 50px;
    }

    td:before {
        content: attr(data-label);
        display: inline-block;
        line-height: 1.5;
        margin-left: -100%;
        width: 100%;
        white-space: nowrap;
    }
}

/*-------Technician Update Search function-------*/
.example input[type="text"] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
}

.example button {
    float: left;
    width: 20%;
    padding: 13px;
    background: #081d45;
    color: white;
    font-size: 14px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.example button:hover {
    background: #444444;
}

.example::after {
    content: "";
    clear: both;
    display: table;
}
