* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

.nav1-links,
.logo {
  text-decoration: none;
  color: #000;
}

.navTime-links,
.logo {
  text-decoration: none;
  color: #000;
  border: none;
  background: none;
}

.navbar1 {
  padding: 20px;
}
/* .navbar1,
ul {
  display: flex;
  flex-direction: row;
} */
ul li {
  padding: 0 5px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  z-index: 100;
}

.nav__text {
  font-size: small;
  font-weight: bold;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;

  white-space: nowrap;
  font-family: sans-serif;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
  background-color: #eeeeee;
}

.nav__link--active {
  color: #009578;
}

.nav__icon {
  font-size: 18px;
}

ul li {
  padding: 0 5px;
}

ul.b {
  list-style-type: disc;
  display: inline-table;
  padding-left: inherit;
}

.sidebarbutton {
  background-color: #1a0845;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 7px 7px;
  margin-right: 10px;
}

body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-color: #ffffff;
  background-repeat: no-repeat;
}

.container {
  padding: 1%;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 30px;
  margin-bottom: 20px;
  flex-direction: column;
}

.column {
  background: #f5f5f5;
  margin-right: 2%;
  padding: 3%;
  border-radius: 3px;
  width: 100%;
  float: left;
  height: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: auto;
  bottom: 55px;
  padding-left: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: whitesmoke;
}

#notYetStatus {
  position: static;
}

.showAssRestHour {
  display: none;
}

.OFF {
  color: red;
}

.column-inside {
  background: #ffffff;
  margin-right: 2%;
  padding: 3%;
  border-radius: 3px;
  width: 100%;
  float: left;
  height: 100%;
}

.input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.CodeDropdown select {
  margin-bottom: 10px;
  width: calc(100% - 100px);
  width: 100%;
  padding: 0 12px 0 12px;
  height: 35px;
  outline: none;
  font-size: 13px;
  border-radius: 5px;
  padding-left: 25px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  border-color: #081d45;
}
.technician-time {
  position: relative;
  width: flex;
}

.technician-time-input {
  width: 100%;
  border: 1px solid #ccc;

  padding: 10px 100px 10px 20px;
  line-height: 1;
  box-sizing: border-box;
  outline: none;
}

.technician-time-botton {
  position: absolute;
  right: 6px;
  top: 4px;
  height: 36px;
  bottom: 7px;
  border: 0;
  background: #081d45;
  color: #fff;
  outline: none;
  margin: 0;
  padding: 0 10px;
  z-index: 2;
}

.btn-box {
  text-align: center;
  margin-top: 30px;
  border-radius: 15px;
}

.column-title {
  font-weight: bold;
  margin: 5px 0 20px;
  background-color: #ffffff;
  padding: 10px 5px;
  margin-top: 0px;
}

#todo {
  border-top: 5px solid #ff4da6;
}

#pending {
  border-top: 5px solid #ffb300;
}

#done {
  border-top: 5px solid #a64dff;
}

#joblisting {
  border-top: 5px solid #ff0000;
}

#doing {
  border-top: 5px solid #ff0000;
}

#technician {
  border-top: 5px solid #181148;
}

.status {
  border-radius: 6px;
  font-size: 15px;
  padding: 2px 5px 2px 5px;
  width: 66px;
  text-align: center;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  margin-left: auto;
}

.supports {
  border-radius: 6px;
  font-size: 15px;
  padding: 2px 5px 2px 5px;
  width: max-content;
  text-align: center;
  font-weight: bold;
  margin-left: auto;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 2px;
  color: #22304d;
}

.timestamp {
  border-radius: 6px;
  font-size: 15px;
  padding: 2px 5px 2px 5px;
  width: max-content;
  text-align: center;
  font-weight: bold;
  margin-left: auto;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 2px;
}

#toDoStatus {
  background: rgb(236, 236, 212);
  color: rgb(133, 141, 22);
}

#doingStatus {
  background: rgb(243, 115, 255);
  color: rgb(8, 8, 7);
}

#pendingStatus {
  background: rgb(212, 228, 236);
  color: rgb(19, 115, 134);
}

#completedStatus {
  background: rgb(214, 237, 226);
  color: rgb(19, 133, 78);
  width: 84px;
}

#Support {
  background: #22304d;
  color: #f0f0f0;
}

fieldset {
  display: none;
}

fieldset.show {
  display: block;
}

select:focus,
input:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #2196f3 !important;
  outline-width: 0 !important;
  font-weight: 400;
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

.tabs {
  margin: 2px 2px 4px 4px;
  padding-bottom: 10px;
  cursor: pointer;
}

.tabs:hover,
.tabs.active {
  border-bottom: 1px solid #2196f3;
}

a:hover {
  text-decoration: none;
  color: #1565c0;
}

.box {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
}

.modal-backdrop {
  background-color: #f0f0f0;
}

.line {
  background-color: #ff0000;
  height: 1px;
  width: 100%;
}

@media screen and (max-width: 1920px) {
  .tabs h6 {
    font-size: 12px;
  }
}

.buttonbiru {
  background-color: #081d45;
  color: white;
  padding: 7px 44px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  margin: auto;
  border-radius: 4px;
}

.modal .close {
  right: 20px;
  top: -110px;
  width: 20px;
  height: 0px;
  cursor: pointer;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #081d45;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  padding-right: 7px;
}

.dropdown-content1 a:hover {
  background-color: #f1f1f1;
}

.dropdown1:hover .dropdown-content1 {
  display: block;
}

.dropdown1:hover .dropbtn1 {
  color: #1565c0;
}

.dropbtn1 {
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: auto;
  padding-left: 20px;
  bottom: 55px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  padding-right: 7px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: whitesmoke;
}

#notYetStatus {
  position: static;
}

.card-complete {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1pxsolidrgba (0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

/* Main Feature */
.navbar {
  margin-top: 20px;
  background-color: #ddd;
  overflow: hidden;
  max-height: 1800px;
  -webkit-transition: max-height 0.3s;
  -moz-transition: max-height 0.3s;
  -ms-transition: max-height 0.3s;
  -o-transition: max-height 0.3s;
  transition: max-height 0.3s;
}

/* Other */

.navbar-toggle {
  background-color: #d2d2cf;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight: bold;
}

.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
