@charset "utf-8";

* .Add input[type="text"],
.Add input[type="date"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#AddForm {
  width: 50%;
  border-radius: 15px;
  border: #666 solid 2px;
}

.addContainer > h1 {
  margin-left: 40px;
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
}

.Add .btnSubmitAndCancel {
  width: 200px;
  margin-left: -20px;
}

.addContainer {
  padding-left: 70px;
}

.form-header {
  text-align: center;
  margin-left: -72px;
  padding: 15px 40px;
  background-color: rgba(189, 175, 161, 0.226);
  border-radius: 8px;
  color: #081d45;
}

/*Job Info*/
.TechJobInfo {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin: 30px 300px 30px 300px;
}
.TechJobInfo .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.TechJobInfo .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 90px;
  border-radius: 5px;
  background: linear-gradient(135deg, #ffb300, #ff4da6, #924adb);
}

.contentTechJobInfo form .tech-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin: 30px 20px 2px 20px; */
}
form .tech-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
  padding: 0 15px 0 15px;
}
form .input-box label.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.tech-details .input-box input,
.tech-details .input-box select {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.tech-details .input-box input:focus,
.tech-details .input-box input:valid,
.tech-details .input-box select:focus,
.tech-details .input-box select:valid {
  border-color: #081d45;
}

form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .button {
  height: 45px;
  margin: 35px 0;
  margin-bottom: 50px;
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #081d45;
  margin-bottom: 10px;
}
form .button input:hover {
  /* transform: scale(0.99); */
  opacity: 0.8;
}
form .button #cancelbtn {
  background-color: #f44336;
}
@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .tech-details .input-box {
    margin-bottom: 15px;

    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .tech-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .tech-details::-webkit-scrollbar {
    width: 5px;
  }
}
@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}

input[type="text"],
input[type="date"],
input[type="datetime-local"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.techClose {
  position: absolute;
  right: 166px;
  margin-top: 145px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.techClose:hover,
.techClose:focus {
  color: red;
  cursor: pointer;
}

.modal .techClose {
  right: 380px;
  top: -30px;
  width: 30px;
  height: 30px;
}

/* The Close Button (x) */
.techClose {
  position: absolute;
  right: 166px;
  margin-top: 135px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.techClose:hover,
.techClose:focus {
  color: red;
  cursor: pointer;
}

/*POPUP FORM (Pending)*/
.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin: 30px 300px 30px 300px;
}

.tabs .TechJobInfoTab {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  margin-left: 0px;
}

.tabs .tabHeading {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background-color: #fff;
  font-weight: bold;
  font-size: 15px;
  transition: background ease 0.3s;
}

.tabs .tab {
  order: 9;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: none;
  padding: 1rem;
  background: #fff;
  padding: 20px;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs input[type="radio"]:checked + label {
  background: rgba(209, 209, 209, 0.377);
}

.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

@media (max-width: 465px) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }

  .tabs label {
    width: 100%;
    margin-left: 50px;
  }
}

textarea {
  width: 100%;
  padding: 7px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: left;
  border: 1.7px solid rgb(201, 198, 198);
  border-bottom-width: 2px;
  border-radius: 5px;
}

#CustomerGrade {
  background-color: rgba(169, 169, 169, 0.103);
  border: 1.7px solid rgb(201, 198, 198);
  border-bottom-width: 2px;
}

.adminUpdateBtn button {
  width: 100%;
  margin: -30px 10px 5px -30px;
}

.adminUpdateBtn {
  display: flex;
  margin-left: 76%;
  margin-bottom: 5px;
  margin-top: 45px;
}
